.home-photo {
  display: flex;
  justify-content: center;

  height: 100%;
  width: auto;
}
.home-photo img {
  width: 83%;
  height: 80vh;
  object-fit: cover;
}
.carousel .slide img {
  max-height: 100%;
  width: auto;
}
.carousel-photo {
  cursor: pointer;
  width: 84%;
  margin-left: 14em;
  margin-top: 155px;
  margin-bottom: 5px;
}
.control-dots {
  display: none;
}
.carousel-photo:hover {
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.carousel-root carousel-photo {
  margin-left: 50px;
}
