.mybag-complete-order {
  margin-left: 10em;
  margin-top: 190px;
  width: 83%;
  height: auto;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 24px;
}
.mybag-flex {
  margin: 20px 90px 20px 30px;
  display: flex;
  flex-direction: row;
}
.mybagpage-line {
  width: 84%;
  margin-left: 14em;
  height: 1px;
  background: #e6e6e6;
}
.mybagpage-info {
  display: flex;
  width: 90%;

  margin-left: auto;
}
.img-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}
.mybag-adding,
.mybag-decreasing {
  cursor: pointer;
  border: none;
  font-size: 20px;
  padding: 10px;
  background-color: transparent;
  color: hsl(26, 100%, 55%);
}
.mybag-adding {
  border-left: 1px solid rgb(230, 230, 230);
}
.mybag-decreasing {
  border-right: 1px solid rgb(230, 230, 230);
}
.mybag-adding-decreasing {
  border: 1px solid rgb(206, 203, 203);
  border-radius: 5px;
  width: 100px;
}
.mybag-decreasing.disable {
  color: rgb(149, 149, 149);
  background-color: rgb(230, 230, 230);
  cursor: initial;
  border-right: 1px solid rgb(230, 230, 230);
  pointer-events: none;
}
.selected-product-count {
  padding: 0 10px;
}
.mybag-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.mybagpage-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
}
.delete {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
